/* Base Styles */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
}

a {
  color: white;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px 0;
}

/* Structure Styles */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Header */

header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  z-index: 1;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  flex-grow: 1;
  text-align: right;
}

header nav span {
  padding: 0 10px;
}

/* Main Content */

.main-content {
  width: 1200px;
  padding-top: 70px;
  margin: 0 auto;
  opacity: 0.9;
}

.section-title {
  width: 100%;
  background-color: black;
}

.item {
  width: 300px;
}

/* Mission Section */

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}

/* Tea of the Month Section */

#month {
  width: 1000px;
  margin: 70px auto;
}

#month .item {
  margin: 15px 15px 0px 15px;
}

#month .item img {
  width: 300px;
  height: 200px;
}

/* Locations Section */

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

#locations .item {
  background-color: black;
  opacity: 1;
  margin: 10px 20px;
  padding: 10px;
  width: 280px;
  display: flex;
  flex-direction: column;
}

/* Contact Section */

#contact {
  height: 200px;
}

/* Footer */
